<mat-card class="header-layout">
    <div class="d-flex align-items-center">
        <mat-icon class="back-key"  routerLink="/list">keyboard_backspace</mat-icon>
        Vendor Contracts > Fixed Price Contracts - English
    </div>
    <div>
        <button type="button" class="btn cancel-btn">Cancel</button>
        <button type="button" class="btn save-btn">Save</button>
    </div>
    
</mat-card >
<div class="detail-wrapper">
   
    <div class="row">
        <div class="col-md-4">
            <div class="card-wrapper">
                <mat-card class="mat-card">
                    <mat-card-content class="mat-card-content">
                       <p class="data-count">18</p>
                       <p>Intents</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-card">
                    <mat-card-content>
                       <p class="data-count">256</p>
                       <p>Entities</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-card">
                    <mat-card-content>
                       <p class="data-count">12</p>
                       <p>Documents</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-card">
                    <mat-card-content>
                       <p class="data-count">232</p>
                       <p class="mb-0">Sentences Identified</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-md-4">
            <div class="document-status-wrapper">
                <p>Document Status</p>
                <div class="progress-bar">
                    <div class="unassigned"></div>
                    <div class="assigned"></div>
                    <div class="tagged"></div>
                    <div class="trained"></div>
                </div>
                <div class="data-indicator mt-2">
                     <div class="indicator-content">
                        <div class="color-indicator unassigned"></div>
                        <p>Unassigned</p>
                     </div>
                     <div class="indicator-content">
                        <div class="color-indicator assigned"></div>
                        <p>Assigned</p>
                     </div>
                     <div class="indicator-content">
                        <div class="color-indicator tagged"></div>
                        <p>Tagged</p>
                     </div>
                     <div class="indicator-content">
                        <div class="color-indicator trained"></div>
                        <p>Trained</p>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-wrapper">
                <table>
                    <tr>
                    <th>Assignee</th>
                    <th>Docs</th>
                    <th>Sentences</th>
                    </tr>
                    <tr>
                    <td>John.Doe</td>
                    <td>6</td>
                    <td>$138</td>
                    </tr>
                    <tr>
                    <td>Michelle.R</td>
                    <td>4</td>
                    <td>74</td>
                    </tr>
                    <tr>
                    <td>Gerg.Stervert</td>
                    <td>2</td>
                    <td>20</td>
                    </tr>
                    
                  </table>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="form-wrapper">
            <mat-tab-group>
                <mat-tab label="INTENTS">  </mat-tab>
                <mat-tab label="DOCUMENTS" selected>  </mat-tab>
                <mat-tab label="STATISTICS"> </mat-tab>
              </mat-tab-group>

              <div class="form-values-wrapper mt-5">
                  
                   <div class="basic-info">
                    Basic Information
                    <mat-card class="basic-form mt-2">
                        
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput class="mat-input" placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        </mat-card>
                    
                   </div>
                   <div class="basic-info mt-3">
                    Parameters
                    <mat-card class="parameter-form mt-2">
                        
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput class="mat-input" placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput placeholder="Ex. Pizza" value="Sushi">
                          </mat-form-field>
                        </mat-card>
                    
                   </div>
              </div>
        </div>
        
    </div>
</div>